.cartpage {
  padding: 5vmax;
  padding-top: 10vmax;
}
.cartHeader {
  background-color: rgb(255, 255, 255);
  width: 70%;
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  color: black;
  border-top-left-radius: 1vmin;
  border-top-right-radius: 1vmin;
  border-bottom: 1px solid rgba(128, 128, 128, 0.442);
  font: bold 1.3vmax "Roboto";
}
.cartHeader > p {
  margin: 1.5vmax;
}
.cartHeader > p:last-child {
  text-align: end;
}
.cardItem {
  display: flex;
  padding: 1.2vmax;
  height: 12vmax;
  align-items: flex-start;
}
.cardItem > img {
  width: 8vmax;
  height: 100%;
  object-fit: contain;
}
.cardItem > div {
  display: flex;
  margin: 1vmax 2vmax;
  flex-direction: column;
  align-items: flex-start;
}
.cardItem > div > a {
  font: 300 2vmax cursive;
  text-decoration: none;
  margin-bottom: 1vmax;
  color: rgba(25, 25, 25, 0.803);
}
.cardItem > div > span {
  font: 300 1.4vmax "Roboto";
  text-decoration: none;
  color: rgba(25, 25, 25, 0.803);
}
.cardItem > div > p {
  font: 100 1vmax "Roboto";
  cursor: pointer;
  color: darkred;
}
.cartContainer {
  width: 70%;
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  border-bottom: 1px solid rgba(121, 118, 118, 0.441);
}
.cartContainer:last-child {
  border-bottom: none;
}
.cartInput {
  display: flex;
  align-items: center;
  height: 8vmax;
  padding: 1vmax;
}
.cartInput > input {
  border: none;
  margin: 0.5vmax;
  width: 1vmax;
  font: 500 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.841);
  outline: none;
  text-align: center;
}
.cartInput > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.617);
  color: white;
  cursor: pointer;
  padding: 0.5vmax;
  border-radius: 0;
  transition: all 0.5s;
}
.cartInput > button:hover {
  background-color: rgba(0, 0, 0, 0.798);
}
.cardSubTotal {
  display: flex;
  justify-content: flex-end;
  padding: 0.5vmax;
  font: 300 1.6vmax cursive;
  align-items: center;
  width: 50%;
  margin: auto;
  color: rgba(0, 0, 0, 0.705);
}

.cartGrossTotal {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  width: 70%;
}
.cartGrossTotalBox > div {
  margin: 1vmax 4vmax;
  margin-right: 0;
  padding: 2vmax 0;
  font: 300 1.2vmax "Roboto";
  display: flex;
  justify-content: space-between;
}
.checkoutbtn {
  display: flex;
  justify-content: flex-end;
}
.shippingContainer {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  max-height: 100vh;
  height: 90vh;
}
.shippingBox {
  background-color: white;
  width: 25vw;
  height: 90vh;
  overflow: hidden;
  padding-top: 7vmax;
}
.shippingHeading {
  text-align: center;
  color: rgba(0, 0, 0, 0.682);
  font: 400 1.8vmax "Roboto";
  border-bottom: 1px solid rgba(0, 0, 0, 0.381);
  width: 70%;
  margin: auto;
  padding: 1vmin;
}

.shippingForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  height: 100%;
  transition: all 0.5s;
}
.shippingForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.shippingForm > div > input,
.shippingForm > div > select {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  border: 1px solid rgba(0, 0, 0, 0.265);
  border-radius: 4px;
  font: 300 1vmax cursive;
  outline: none;
  width: 100%;
  align-items: center;
}
.shippingForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.688);
}
#shippingbtn {
  border: none;
  background-color: darkred;
  color: antiquewhite;
  font: 300 1.2vmax "Roboto";
  width: 100%;
  padding: 1vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  margin: 2vmax;
}
#shippingbtn:hover {
  background-color: rgb(14, 14, 60);
}

/* MUI COMPONENTS CLASSES */
.MulStepConnector-line {
  display: none !important;
}
.MulStepConnector-root {
  height: 1px !important;
  background-color: rgba(0, 0, 0, 0.353) !important;
}
.MulStepConnector-active,
.MulStepConnector-compeleted {
  background-color: darkred !important;
}
.css-14yr603-MuiStepContent-root {
  margin-left: -10px !important;
}
.osmain {
  border-bottom: 1px solid rgba(192, 192, 192, 0.592);
}
.osmain > div,
.ostotal {
  display: grid;
  grid-template-columns: 6fr 1fr 2fr;
  padding: 1.5vmin;
}
.ostotal {
  padding: 3vmin;
}
#osbutton {
  transition: all 0.5s;
  background-color: rgb(11, 11, 65);
  color: white;
  margin: 1.5vmin;
  padding: 1vmax;
  font-size: 1.2vmax;
}
#osbutton:hover {
  background-color: darkred;
}
.info > div {
  display: grid;
  grid-template-columns: 2fr 0.5fr 4fr;
  column-gap: 1vmin;
  padding: 1vmin;
  width: 100%;
  max-width: 100%;
}
.info > div > span {
  color: gray;
  font: 300 1.3vmax cursive;
}
.confirmcartitems {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 81%;
  overflow-y: scroll;
  justify-content: flex-start;
  align-items: center;
  justify-items: flex-start;
}
.cscartitems {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 1vmax;
}
.cscartitems > .img {
  width: 48%;
  height: 100%;
  object-fit: contain;
}
.cscartitems div > img {
  width: 48%;
  height: 100%;
  object-fit: contain;
}
.csciitemds {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  justify-content: space-around;
}
.orderDetailsInnerBox > div,
.orderDetailspaymentbox > div {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  margin: 1vmax;
  width: 100%;
}
.orderDetailsInnerBox > div > p,
.orderDetailspaymentbox > div > p {
  width: 20vmax;
  max-width: 20vmax;
  overflow: scroll;
}
.orderDetailsInnerBox > div > span,
.orderDetailspaymentbox > div > span {
  max-width: 30vmax;
  overflow: scroll;
  width: 30vmax;
  justify-self: right;
  align-self: center;
}
.orderdetailsCartitemscontainer {
  display: flex;
  margin: auto;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}
.orderdetailsCartitemscontainer > div {
  margin: 2vmax;
  display: flex;
  height: 7vmax;
  flex-direction: row;
  border-bottom: 1px solid grey;
}
.orderdetailsCartitemscontainer > div > img {
  height: 100%;
}
.orderdetailsCartitemscontainer > div > a {
  width: 20vmax;
  max-width: 20vmax;
  text-decoration: none;
  color: black;
  padding: 3vmax;
}
.orderdetailsCartitemscontainer > div > span {
  width: auto;
  padding: 2vmax;
  padding-top: 3vmax;
}
