* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
}
*::-webkit-scrollbar {
  display: none;
  width: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container {
  width: 90%;
  margin: 1vmax auto;
  padding: 0.45vmax;
}
